.card {
  max-width: 454px;

  margin: 0 0 35px 0;

  box-shadow: 0px 4px 12px 0px #00000026;
}
.card__content {
  display: flex;
  justify-content: space-between;
}

.card__content-data {
  margin: 0 20px;
}
.card__data-title,
.card__data-time,
.card__ganre-title,
.card__ganre-name,
.card__data-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  padding: 12px 0 7px 0;
  margin: 0 0 0 0;

  color: #000000;
}
.card__data-time {
  font-size: 12px;
  line-height: 22px;

  padding: 0 0 9px 0;

  color: #827e7e;
}
.card__data-ganre {
  display: flex;

  padding: 0 0 7px 0;
}
.card__ganre-title,
.card__ganre-name {
  font-size: 12px;
  line-height: 15px;

  padding: 2px 4px 3px 5px;

  border: 1px solid #d9d9d9;
}
.card__ganre-name {
  margin: 0 0 0 8px;
}
.card__data-text {
  font-size: 12px;
  line-height: 22px;

  padding: 0 0 0 0;
}

.card__content-image {
  height: 281px;
}
.card__image-img {
  height: 281px;
}
