@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter"), url(../fonts/Inter-Regular.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1010px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 19px 40px 0 32px;
}
